- name: Install and start Splunk
  hosts: splunk
  become: yes

  tasks:
    - name: Update apt cache
      apt:
        update_cache: yes

    - name: Download Splunk
      get_url:
        url: https://download.splunk.com/products/splunk/releases/9.2.1/linux/splunk-9.2.1-78803f08aabb-linux-2.6-amd64.deb
        dest: /tmp/splunk.deb

    - name: Install Splunk
      apt:
        deb: /tmp/splunk.deb

    - name: Start Splunk and accept license
      command: /opt/splunk/bin/splunk start --accept-license --answer-yes --no-prompt

